
  <div class="container">
  <h1>All our flats </h1>
  <p>All <%= Flat.count %> flats.</p>

    <div class="cards">
      <% @flats.each do |flat| %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/1600x900/?room)">
            <%= flat.name %>
          </div>
      <% end %>
    </div>
  </div>
